

				<section id="cta">

					<h2>Sign in to your account</h2>

					<form method="post" action={% url 'login:loginView' %}>
						{% csrf_token %}
						<div class="row gtr-50 gtr-uniform">

							<div class="col-8 col-12-mobilep">
								<input type="text" name="username" placeholder="Username" required/>
							</div>
							<div class="col-8 col-12-mobilep">
								<input type="password" name="password" placeholder="Password" required/>
							</div>

							<div class="col-4 col-12-mobilep">
								<button type="submit" class="button large">Log In</button>
							</div>
						</div>
					</form>
				</section>
